body{
    background-color: gray;
    margin: 30px;
    border: 18px outset tan;
    padding:20px ;
}
h1{
    color: rgb(0, 0, 0);
    font-size: 50px;
    text-align: center;
    border: ridge 5px burlywood;
    padding: 5px;
}
form{
    font-size:18px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
p{
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: midnightblue;
}
a{
    color: red;
}
h3{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}